body {
  min-height: 85rem;
  padding-top: 4.5rem;
  color: #3e3e3e;
}

/*******************  Navbar *******************/

.navbar {
  font-family: 'Montserrat';
}

.navbar-nav {
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}

.nav-item {
  margin: 5px;
}

.btn-outline-success:hover {
  background-color: rgb(30, 150, 250);
  border-color: rgb(30, 150, 250);
}

.btn-outline-success {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
}

a.navbar-brand {
  font-size: 1.5rem;
  margin: 0 10px;
}

a.nav-link.disabled {
  padding-right: 2.0rem;
  padding-left: 2.0rem;
}

.navbar-collapse {
  margin-right: 15px;
}

/*******************  Home - Splash image *******************/

.header-container {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
}

.background-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}

.img-overlay {
  width: 100%;
  height: 400px;
  background: black;
  opacity: 0.3;
  position: absolute;
}

.title-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 175px;
  color: white;
  font-family: 'Montserrat';
  font-size: 3rem;
  text-shadow: 0px 0px 20px #737373;
}

/*******************  Home - Recipe table *******************/

.recipe-list {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  font-family: 'Proxima Nova';
  border: none; 
}

.recipe-name {
  margin: 0 25px;
}

.recipe-name::first-letter {
  text-transform:uppercase;
}

.recipe-list-item {
  padding: 1.25rem;
  font-size: 0.8rem;
  background: #fdfdfd;
  border: none;
  border-bottom: solid 1px #e6e6e6;
  border-top: solid 1px #e6e6e6;
}

.media-right {
  margin-right:25px;
}

.recipe-image {
  width: 125px;
  height: 100px;
  object-fit: cover;
  margin-left: 20px;
}

.recipe-icon {
  width: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.recipe-icon:hover {
  transform: scale(1.2);
}

/*******************  Add Recipes (form) *******************/

.recipe-form {
  max-width: 800px;
  margin: 20px auto;
  font-family: 'Proxima Nova';
}

.form-group label {
  font-size:1.25rem;
}

.submit-button {
  background:#72bd71;
  padding:10px 20px;
  display:inline-block;
  color:white;
  border-radius:4px;
  margin:15px;
  cursor:pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.submit-button:hover {
  opacity: 1;
}

/*******************  Ingredients *******************/

.all-ingredients {
  text-align: center;
}

.ingredient-list {
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Proxima Nova';
  text-align: center;
}

.ingredient-list h2::first-letter {
  text-transform: uppercase;
}

/*******************  Directions *******************/

.directions-list {
  text-align: left;
}

.all-directions {
  text-align: center;
  margin-top: 15px;
  font-family: 'Proxima Nova';
}

.all-directions h2::first-letter {
  text-transform: uppercase;
}

.directions-img {
  width: 500px;
  height: 350px;
  object-fit: cover;
  margin: 25px 0;
}

.back {
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  background: #3949AB;
  color: white;
  font-size: 0.75em;
  position: absolute;
  left: 40px;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.back:hover {
  opacity: 1;
}
