body {
  min-height: 85rem;
  padding-top: 4.5rem;
}

.navbar {
  font-family: 'Montserrat';
}

.navbar-brand {
  font-weight: 300;
  margin: 0 15px;
}

.navbar-nav {
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}

.nav-item {
  margin: 5px;
}

.btn-outline-success:hover {
  background-color: rgb(30, 150, 250);
  border-color: rgb(30, 150, 250);
}

.btn-outline-success {
  color: rgb(30, 150, 250);
  border-color: rgb(30, 150, 250);
}

.nav-link {
  padding-left: 2rem;
  padding-right: 2rem;
}

a.navbar-brand {
  font-size: 1.5rem;
}

a.nav-link.disabled {
  padding-right: 2.0rem;
  padding-left: 2.0rem;
}

.recipe-list {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  font-family: 'Lato';
}
.recipe-form {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.direction-list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.direction-nav {
  text-align: center;
}

.ingredient-list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*.recipe-list-item {
  height: 150px;
}*/

.recipe-image {
  width: 150px;
  height:auto;
}

.recipe-icon {
  width: 40px;
  margin: 0 10px;
}

.recipe-name {
  margin: auto;
  vertical-align: middle;
}

.all-directions {
  text-align: center;
}

.header-container {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
}

.background-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
}

.img-overlay {
  width: 100%;
  height: 400px;
  background: black;
  opacity: 0.2;
}
